/* Smile School Page */
body {
  width: 100%;
  margin: 0;
  margin-top: -20px;
}

/* Header */
header {
  position: fixed;
  height: 1093;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  left: 175.67px;
  top: 40px;
  }
#header_navBar {
  width: 1103.408px;
  height: 29.461px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
#logo {
  width: 167.02px;
  height: 29.46px;
  margin: -330px;
}
#menu {
  display: inline-flex;
  width: 234px;
  height: 15px;
  gap: 52px;
  align-items: normal;
}
#menu a {
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

/* Main */
#main {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 1140px;
  flex-shrink: 0;
  background: url(images/background.png) center/cover no-repeat;
}
#schooling_block {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: grayscale();
  background: radial-gradient(85.9% 85.9% at 50% 14.1%, rgba(41, 48, 61, 0.00) 0%, #071629 100%)
}
#get_schooled {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}  
#get_schooled h1 {
  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 250px;
  margin-bottom: 0px;
}  
#get_schooled p {
  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  word-spacing: 50px;
}
#get_schooled button {
  margin-top: 40px;
  width: 162px;
  height: 44px;
  flex-shrink: 0;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
  background-color: #C271FF;
  border: #C271FF; 
  border-radius: 22px;
  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#pros {
  margin-top: 100px;
  width: 100%;
  height: 237px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
#pros h2 {
  text-align: center;
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-bottom: 87px;
}
.purple {
  color: #C271FF;
  font-weight: 900;
}
#pro_list {
  display: flex;
  width: 100%;
  height: 237px;
  flex-shrink: 0;
  justify-content: space-around;
  margin-left: 2px;
}
.pro {
  width: 150px;
  height: 237px;
  flex-shrink: 0;
  flex-direction: column;
}
.pro img {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 50%;
}
.pro h3 {
  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 1px;
  width: 150px;
}
.pro p {
  color: #FFF;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: italic;
  font-weight: lighter;
  line-height: 24px;
}

/* Quote Block */
#testimony {
  width: 100%;
  height: 392px;
  display: flex;
  z-index: 1;
  position:absolute;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #C271FF;
  margin-top: 1110px;
}
#testimonial-block {
  width: 943px;
  height: 160px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}
#testimonial-block img {
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  border-radius: 50%;
}
#testimonial_quote {
  width: 730px;
  height: 158px;
  flex-shrink: 0;
  padding: 0;
}
#testimonial-quote blockquote {
  margin: 0;
  width: 730px;
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
}
.bold {
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 33.6px;
}
.italic {
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 33.6px;
}

/* Tutorials */
#tutorial-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 550px;
  width: 100%;
}
#tutorials {
  width: 100%;
  height: 450px;
  flex-shrink: 0;
  display:block;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-top: 3000px;
}
#tutorials h1 {
  color: #071629;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: 80px;
}
#tutorials .purple {
  color: #C271FF;
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#group-tutorial {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  width: 100%;
}
.tutorial {
  width: 255px;
  height: 335px;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(7, 22, 41, 0.18);
}
.tutorial .video {
  position: relative;
  width: 255px;
  height: 154px;
  flex-shrink: 0;
  border-radius: 5px 5px 0px 0px;
  background: #D8D8D8;
}
.tutorial h2 {
  color: #071629;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0px;
  padding: 10px;
  margin-bottom: 0px;
}
.tutorial p {
  color: rgba(7, 22, 41, 0.50);
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.rating {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 10px;
}
.rating-pers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.rating-pers img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
}
.rating h3 {
  color: #C271FF;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}
.stars {
  display: flex;
  justify-content: flex-start;
  gap: 70px;
  align-items: center;
}
.stars p {
  color: #C271FF;
  text-align: right;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}
.star-group {
  width: 107px;
  height: 15px;
  flex-shrink: 0;
}

/* Membership */
#membership {
	width: 100%;
	height: 502px;
	background-color: #071629;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 1600px;
  }
  #membership h1 {
	margin-top: 70px;
	color: #FFF;
	font-family: "Source Sans Pro";
	font-size: 32px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
  }
  #membership .purple {
	color: #C271FF;
	text-align: center;
	font-family: "Source Sans Pro";
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
  }
  #membership div {
	display: flex;
  }
  .smile {
	width: 257px;
	height: 153px;
	flex-shrink: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  .smile img {
	width: 43.666px;
	height: 35.353px;
	flex-shrink: 0;
  }
  .smile h2 {
	color: #FFF;
	text-align: center;
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 26px; /* 144.444% */
	width: 256px;
  }
  .smile p {
	color: #FFF;
	text-align: center;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; /* 185.714% */
	width: 212px;
  }
  #membership button {
	width: 162px;
	height: 44px;
	flex-shrink: 0;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
	background-color: #C271FF;
	border: #C271FF;
	border-radius: 22px;
	color: #FFF;
	text-align: center;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 52px;
  }